* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
}
html {
  font-size: 62.5%;
}
body {
  overflow: hidden;
  background-color: #111;
}
#cat {
  position: absolute;
}
svg {
  width: 5rem;
  height: 5rem;
}
#login-signup-form {
  display: flex;
  position: relative;
  z-index: 2;
  align-items: center;
  justify-content: right;
  margin-top: 2rem;
}
#login-signup-form > * {
  margin-right: 1rem;
}
#login-signup-form > label {
  color: white;
}
#login-signup-form > button {
  background-color: #bb834a;
  border-radius: 5px;
  color: white;
  padding: 0.5rem;
}
#alerts {
  color: #ffffff;
  margin-right: 5rem;
}
.body-con {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #333;
  border-radius: 2rem;
  width: 80vw;
  height: 80vh;
}
.piano-ctrl-con {
  display: flex;
  width: 70%;
  align-items: center;
  text-align: center;
  justify-content: space-around;
}
.octave-change {
  display: flex;
  width: 20rem;
  align-items: center;
  border-radius: 0.5rem;
}
button {
  background-color: transparent;
  border: none;
}
button:hover {
  cursor: pointer;
}

svg {
  color: white;
  background-color: white;
  width: 5rem;
  background-color: #bb834a;
  border-radius: 0.5rem;
}
svg:hover {
  color: rgb(255, 121, 18);
}
svg:active {
  color: #850b02;
}
p {
  color: white;
}
.piano-container {
  display: flex;
}
.white {
  width: 4rem;
  height: 15rem;
  background-color: white;
  outline: solid black 1px;
}
.black {
  width: 2rem;
  height: 8rem;
  background-color: black;
  margin-left: -1.5rem;
  margin-right: -1.1rem;
  z-index: 2;
}
.key:hover {
  cursor: pointer;
}
.key {
  border-radius: 1px;
}
.song-container {
  display: flex;
  width: 70%;
  justify-content: space-evenly;
  align-items: center;
}
#save-song-form {
  display: flex;
  align-items: center;
}
#play-saved-song {
  display: flex;
  align-items: center;
}
#save-song-form > input {
  margin-right: 1rem;
}
#song-select-container {
  display: flex;
  align-items: center;
}
#play-saved-song > * {
  margin-right: 1rem;
}
#play-saved-song > label {
  color: white;
}
#song-selection {
  color: black;
}
.hidden {
  display: none;
}
#cat-img {
  width: 70vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
